<h1>Edit Details</h1>
<div>
    <div>
        <label>Name:
            <input [(ngModel)]="productData.Name" placeholder="Name" />
        </label><br>
        <label>Age:
            <input [(ngModel)]="productData.Age" placeholder="Age" />
        </label><br>
        <label>Mark:
            <input [(ngModel)]="productData.Mark" placeholder="Mark" />
            
        </label><br>

    </div>
    <button (click)="updateProduct()">Update</button>
    <button routerLink="/AllStudents/">Goto Home</button>
</div>
